//BASE VARIABEL
//breakpoint responsive
$bp-large:69em; //1100px


///////////////////////
//global settings
*,
*::after,
*::before
 {
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html{
    //DEFINES WHAT 1rem = 10px 
    font-size: 62.5%; // 1rem = 10px; 10/16 = 62.5 

    @media only screen and (max-width: $bp-large){
        font-size: 50%;
    }

}
body {
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
}

//MOST OF CODING

.container-box{
    background: #797d7e;
    display:flex;

    // Medium devices (tablets, 768px and up)
    @media only screen and (max-width: 991.98px) {
        display:grid;
        grid-template-columns: 100%;
        margin: 0 0 1rem;
        background: white;
        grid-template-rows: max-content 50rem max-content;
    }
}

.sidebar-left{
    width: 22%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index:2;
    transition: all .1s ease;
    transform:translateX(0);
      
    color:white;
    background: #bdc3c7;

    
    // Medium devices (tablets, 768px and up)
    @media only screen and (max-width: 991.98px) {
        overflow-y: hidden;
        overflow-x: hidden;
        grid-row: 1/2;
        height: 100%;
        width:100%;
    }

    .left-head{
    display:grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content min-content;
    background: #34495e;
    padding: 1rem;
        .main-link{
            color:white;
            transition: all .1s ease;
        }    

        .main-link:hover{
            transform: scale(1.1) translateX(5px);
            color: #dedede !important;
        }

    
        .dropdown{
            width: 100%;
            height: 3rem;
            grid-column: 1/-1;
            position: relative;
            margin-bottom: 1rem;
            // Medium devices (tablets, 768px and up)
            @media only screen and (max-width: 991.98px) {
                margin-top: 2.5rem;
            }

            .openmenu,.closemenu{
                font-size: 1.5rem;
                font-weight: 300;
                position: relative;
                color:white;
                text-decoration: none;
            }
        }
        
        .dropdown-content {
            grid-column: 1/-1;
            display: none;
            position: relative;
            transition:all .3s ease;
        }
/////////////////////////////////////////////
// Link Menu
.link-menu{
    font-size: 1.35rem;
    font-weight: 300;
    list-style: none;

    &__item{
        position: relative;
    }

    &__item::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color:#2980b9;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color:#3498db;
    }

    &__link:link,
    &__link:visited{
        color:  white ;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;

        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
    }
}

        #closemenu{
            display:none;transition:all .3s ease;
        }
        
    }

    h1{
        margin-top:1.2rem;
    }

    &__icon{
        font-size: 3.7rem;
        color:white;
        margin-right: 1rem;
        transition: all .1s ease;
        
        &:hover{
            color: #ddd;
        }
    }

    &__icon-dropdown{
        position: absolute;
        top: -1rem;
        margin-left: 1.5rem;
        font-size: 2.9rem;
        color:white;

        &:hover{
            color: #ddd;
        }
    }

    .closebtn{
        grid-column: 2/3;
        justify-self: end;
        cursor: pointer;

        // Medium devices (tablets, 768px and up)
        @media only screen and (max-width: 991.98px) {
            display: none;
        }
    }
    .icon-box{  
        display: block;
        position: relative;
        width: 100%;
        height: 80px;

        &::before{
            content: "";
            z-index: 1000;
            width: 55px;
            background: url(../img/logo.png);
            position: absolute;
            left: 20%;
            margin-right:5%;
            top: 50%;
            transform: translateY(-50%);
            height: 50px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        &::after{
            content: "";
            z-index: 1000;
            width: 60px;
            background: url(../img/logo-kab.png);
            position: absolute;
            right: 20%;
            margin-left:5%;
            top: 50%;
            transform: translateY(-50%);
            height: 75%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }

    .form-box{
        margin-top: -3rem;
        height: 50vh;
        margin-bottom: 8.5rem;
        padding: 0 1rem;
        font-size: 1.5rem;
        color:#222;
    
        .form-title{
            font-weight: 600;
        }

        .chosen{
            padding:15px;
        }
        

        .button-submit{
            padding: 6px 10px;
            font-size: 1.6rem;
            margin-bottom: 1rem;
            width:10rem;
            border-radius: 4px;
        }
    }

    .submit-group{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer{
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 2px auto;

        // Medium devices (tablets, 768px and up)
        @media only screen and (max-width: 991.98px) {
            display:none;
        }

        p{
            color:#2c3e50;
            font-size: 1.2rem;
        }
    }
}

.maps-box{
    width: 50%;
    height:100vh;
    background:#797d7e;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all .4s ease;

    // Medium devices (tablets, 768px and up)
    @media only screen and (max-width: 991.98px) {
        grid-row: 2/3;
        width:100%;
        margin: 1rem 0 0;
        height: 100%;
        overflow: hidden;
    }

    .menu{
        position: relative;
        margin-top: 8rem;
        width: min-content;
        height: min-content;
        z-index: 90000 !important;
    }

    .openbtn{
        position: relative;
        background: white;
        color: black;
        cursor: pointer;
        border:2px solid rgba(187, 187, 187, 1);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        margin-left: 1rem;
        display: none;
        transition: all .2s ease;
        text-align: center;
        width: 3.4rem;

        // Medium devices (tablets, 768px and up)
        @media only screen and (max-width: 991.98px) {
            display: none;
        }

        &__icon{
        
        font-size: 2.4rem;
        color: #232323;
        }

        &:hover{
            background: #f4f4f4;
        }
    }

}

.sidebar-right{
    width:28%;
    height:100vh;
    background: #fff;
    overflow-x: hidden;
    transition: all .4s ease;
    overflow-y: scroll;
    position: relative;
    z-index: 2;

    // Medium devices (tablets, 768px and up)
    @media only screen and (max-width: 991.98px) {
        grid-row: 3/4;
        width:100%;
        overflow-x: unset;
        overflow-y: unset;
        margin: 1rem 0 0;
    }

    .lokasi-box{
        background:#34495e;
        color:#ecf0f1;
        padding:1rem;
        padding-top:2.5rem;

        
        // Medium devices (tablets, 768px and up)
        @media only screen and (max-width: 991.98px) {
            padding:3rem 0;
        }

        .lokasi-head{
            display: flex;
            justify-content: center;
            .lokasi-title{
                font-size: 1.7rem;
                font-weight: 600;

                @media only screen and (max-width: $bp-large){
                    font-size: 1.55rem;
                }

                // Medium devices (tablets, 768px and up)
                @media only screen and (max-width: 991.98px) {
                    margin-top:5px;
                }
            }
            &__icon{
                font-size: 1.6rem;
                margin-right: 1rem;

                @media only screen and (max-width: $bp-large){
                    font-size: 1.5rem;
                }
            }
        }

        .lokasi-body{
            width:100%;
            text-align: center;
            font-size: 1.4rem;
            @media only screen and (max-width: $bp-large){
                font-size: 1.35rem;
            }


            hr{
                clear: both;
                height: 1px;
                background-color:#ecf0f1;
                color:#ecf0f1;
                width: 80%;

                text-align: center;
                margin: 0 auto;

            }

            .latitude-box{
                margin-top: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                &__icon{
                    font-size: 1.7rem;
                    @media only screen and (max-width: $bp-large){
                        font-size: 1.6rem;
                    }
                    margin-bottom: 7px;
                    margin-right: 1rem;
                }
            }

            .lokasi-paragraf{
                margin:1rem 6px;
            }
        }

        
    }
    .lokasi-footer{        
        font-size: 1.4rem;
        padding:0 1rem;
        margin-bottom: 1rem;

        @media only screen and (max-width: $bp-large){
            font-size: 1.35rem;
        }

        .span-card{
            padding:1rem;
            border: #34495e1f 1px solid;
            border-radius: 4px;
            text-align: center;
            margin:1.1rem auto;

            box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.3);
        }
        .bold{
            font-weight: 700;
        }
    }

    .detail-box{
        box-shadow: -1px 10px 10px 0px rgba(0,0,0,0.2);
        padding:1.6rem;

        .detail-title{
            position: relative;
            font-size: 1.6rem;
            font-weight: 500;
        }
        

        .detail-inner-title{
            color: #888;
            font-size: 1.35rem;
        }
        .detail-inner-text{
            font-size: 1.45rem;
            color: #343434;
            padding: 3px 0 10px;
        }
    }


}
